<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nocte.mapper.CategoryMapper">
    <select id="queryAllCategory" resultType="Category">
    select * from t_category
  </select>

    <select id="queryCategoryById" resultType="Category">
        select * from t_category where id=#{id}
    </select>

    <insert id="addCategory" parameterType="Category">
        insert into t_category(category_name,article_number) values (#{category_name},#{article_number})
    </insert>

    <update id="updateCategory" parameterType="Category">
        update t_category set category_name=#{category_name},article_number=#{article_number} where id=#{id}
    </update>

    <delete id="deleteCategory">
        delete from t_category where id=#{id}
    </delete>

</mapper>
